body {
	font-size: 16px;
	background-color: #F1F2F3;
}


#container {
	display: grid;
	grid-template-columns:20rem 1fr;
    grid-template-areas:
		"user_and_transactions trading"
}

#user_and_transactions_container {
	display: grid;
	grid-area: user_and_transactions;
	grid-template-areas:
		"."
		"user"
		"transactions";
	grid-template-rows: 2rem max-content max-content;
	row-gap: 1rem;	
}

#user_container {
	grid-area: user;
	padding: 1rem 0px;
	padding-top: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: white;
	border: 1px solid #D1D2D3;
	border-radius: 8px;
}

#transactions_container {
	grid-area: transactions;
	padding: 1rem 0px;
	padding-top: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: white;
	border: 1px solid #D1D2D3;
	border-radius: 8px;
}

#trading_container {
	display: grid;
	grid-area: trading;
	grid-template-columns: 2rem 1fr 2rem;
	grid-template-rows: max-content max-content;
    grid-template-areas:
		".  search  ."
		".  stocks  .";
	row-gap: 1rem;
	padding-bottom: 2rem;
}

/* informacije o korisniku*/

#username_container {
	display: grid;
	grid-template-columns: 0.5rem max-content 1fr 7rem 0.5rem;
	grid-template-areas:
		". username  .  logout .";
	font-size: 1.4rem;
}

#username {
	grid-area: username;
}

#logout_form {
	grid-area: logout;
}

#logout_button {
	float: right;
	width: 7rem;
}

#user_info {
	width: 100%;
	border-spacing: 0.5rem;
}

.user_info_number {
	text-align: right;
}


/* transakcije i lista */

#tr_buttons {
	display: grid;
	grid-template-columns: 0.5rem 7rem 1fr 7rem 0.5rem;
	grid-template-areas:
		".  rank_list_button  .  transactions_button  .";
}

#rank_list_button {
	grid-area: rank_list_button;
	width: 7rem;
}

#rank_list_button:focus {
	outline: none;
}

#transactions_button {
	grid-area: transactions_button;
	width: 7rem;
}

#transactions_button:focus {
	outline: none;
}

#rank_list {
	padding: 0px 0.5rem;
}

#transactions {
	font-size: 0.8rem;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
}

#transactions table {
	width: 100%;
	border-spacing: 0.5rem;
}

.price_column {
	text-align: right;
}

.quantity_column {
	text-align: right;
}


/* dionice */

#search_container {
	display: flex;
	grid-area: search;
	justify-content: center;
	align-items: center;
}

#search_input {
	border: 1px solid #D1D2D3;
	border-radius: 4px;
	line-height: 1.5;
	width: 19.6rem;
	padding: 0.2rem;
	font-size: 1rem;
}

#search_input:focus {
	outline: none;
	box-shadow: 0px 0px 0px 1px #202020;
}

#stocks_container {
	display: grid;
	grid-area: stocks;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	row-gap: 1rem;
	column-gap: 1rem;
}

.stock_outer_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.stock_inner_container {
	display: grid;
    grid-template-areas:
		"stock_info"
		"transaction";
	width: 18rem;
	padding: 0.5rem 1rem;
	background-color: white;
	border: 1px solid #D1D2D3;
	border-radius: 8px;
}

.stock_inner_container_selected {
	box-shadow: 0px 0px 0px 1px #202020;
	
}

.stock_info_container {
	display: grid;
	grid-area: stock_info;
	grid-template-columns: 4fr 6fr 5fr;
    grid-template-areas:
		"stock_tick  daily_chart  stock_price"
		".           daily_chart  stock_percentage";
	padding-bottom: 0.5rem;
}

.stock_tick_container {
	display: flex;
	grid-area: stock_tick;
	align-items: center;
}

.daily_chart_container {
	grid-area: daily_chart;
}

.stock_price_container {
	display: flex;
	grid-area: stock_price;
	justify-content: flex-end;
	align-items: center;
}

.stock_percentage_container {
	display: flex;
	grid-area: stock_percentage;
	justify-content: flex-end;
	align-items: center;
}

.transaction_container {
	display: none;
	grid-area: transaction;
	grid-template-columns: 1fr 6rem 6rem 1fr;
    grid-template-areas:
		".  		    quantity_text  quantity_input  ."
		".  			buy            sell			   .";
	row-gap: 0.5rem;
	column-gap: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
}

.quantity_text_container {
	display: flex;
	grid-area: quantity_text;
	justify-content: flex-end;
	align-items: center;
}

.quantity_text {
	font-size: 1rem;
}

.quantity_input_container {
	display: flex;
	grid-area: quantity_input;
	justify-content: center;
	align-items: center;
}

.quantity_input {
	width: 100%;
}

.buy_container {
	display: flex;
	grid-area: buy;
	justify-content: center;
	align-items: center;
}

.buy_button {
	width: 100%;
	font-size: 0.8rem;
}

.sell_container {
	display: flex;
	grid-area: sell;
	justify-content: center;
	align-items: center;
}

.sell_button {
	width: 100%;
	font-size: 0.8rem;
}