body {
	font-size: 16px;
	background-color: #F1F2F3;
}


#container {
	display: grid;
	grid-template-columns: 18em 1fr;
    grid-template-areas:
		"user_and_transactions trading"
}

#user_and_transactions_container {
	grid-area: user_and_transactions;
}

#user_container {
	padding: 1em 0px;
	/*grid-area: user;*/
}

#transactions_container {
	padding: 1em 0px;
	/*grid-area: transactions;*/
}

#trading_container {
	display: grid;
	grid-area: trading;
	grid-template-columns: 2em 1fr 2em;
	grid-template-rows: max-content max-content;
    grid-template-areas:
		".  search  ."
		".  stocks  .";
	row-gap: 1em;
	padding-bottom: 2em;
}

/* informacije o korisniku*/

#username_container {
	display: grid;
	grid-template-columns: max-content 1fr 7rem;
	grid-template-areas:
		"username  .  logout";
	padding-left: 0.5em;
	font-size: 1.2rem;
}

#username {
	grid-area: username;
}

#logout_form {
	grid-area: logout;
}

#logout_button {
	float: right;
	width: 7em;
}

#user_info {
	width: 100%;
	border-spacing: 0.5em;
}

.user_info_number {
	text-align: right;
}


/* transakcije i lista */

#tr_buttons {
	display: flex;
	gap: 2em;
	padding-left: 0.5em;
}

#rank_list_button {
	width: 7em;
}

#rank_list_button:focus {
	outline: none;
	box-shadow: 0px 0px 0px 1px #202020;
}

#transactions_button {
	width: 7em;
}

#transactions_button:focus {
	outline: none;
	box-shadow: 0px 0px 0px 1px #202020;
}

#rank_list {
}

#transactions {
	font-size: 0.8em;
	padding-top: 0.5em;
	padding-left: 0.5em;
}

#transactions table {
	width: 100%;
	border-spacing: 0.5em;
}

.price_column {
	text-align: right;
}

.quantity_column {
	text-align: right;
}


/* dionice */

#search_container {
	display: flex;
	grid-area: search;
	justify-content: center;
	align-items: center;
}

#search_input {
	border: 1px solid #D1D2D3;
	border-radius: 4px;
	line-height: 1.5;
	width: 20em;
}

#search_input:focus {
	outline: none;
	box-shadow: 0px 0px 0px 1px #202020;
}

#stocks_container {
	display: grid;
	grid-area: stocks;
	grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
	row-gap: 1em;
	column-gap: 1em;
}

.stock_outer_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.stock_inner_container {
	display: grid;
    grid-template-areas:
		"stock_info"
		"transaction";
	width: 18em;
	padding: 0.5em 1em;
	background-color: white;
	border: 1px solid #D1D2D3;
	border-radius: 8px;
}

.stock_inner_container_selected {
	box-shadow: 0px 0px 0px 1px #202020;
	
}

.stock_info_container {
	display: grid;
	grid-area: stock_info;
	grid-template-columns: 4fr 6fr 5fr;
    grid-template-areas:
		"stock_tick  daily_chart  stock_price"
		".           daily_chart  stock_percentage";
	padding-bottom: 0.5em;
}

.stock_tick_container {
	display: flex;
	grid-area: stock_tick;
	align-items: center;
}

.daily_chart_container {
	grid-area: daily_chart;
}

.stock_price_container {
	display: flex;
	grid-area: stock_price;
	justify-content: flex-end;
	align-items: center;
}

.stock_percentage_container {
	display: flex;
	grid-area: stock_percentage;
	justify-content: flex-end;
	align-items: center;
}

.transaction_container {
	display: none;
	grid-area: transaction;
	grid-template-columns: 1fr 6em 6em 1fr;
    grid-template-areas:
		".  		    quantity_text  quantity_input  ."
		".  			buy            sell			   .";
	row-gap: 0.5em;
	column-gap: 1em;
	padding-top: 0.5em;
	padding-bottom: 1em;
}

.quantity_text_container {
	display: flex;
	grid-area: quantity_text;
	justify-content: flex-end;
	align-items: center;
}

.quantity_text {
	font-size: 1em;
}

.quantity_input_container {
	display: flex;
	grid-area: quantity_input;
	justify-content: center;
	align-items: center;
}

.quantity_input {
	width: 100%;
}

.buy_container {
	display: flex;
	grid-area: buy;
	justify-content: center;
	align-items: center;
}

.buy_button {
	width: 100%;
	font-size: 0.8em;
}

.sell_container {
	display: flex;
	grid-area: sell;
	justify-content: center;
	align-items: center;
}

.sell_button {
	width: 100%;
	font-size: 0.8em;
}